QLabel {
    color: #000000;
}

QLineEdit {
    background-color: #FFFFFF;
    border: 1px solid #0055AA;
    border-radius: 3px;
    padding: 5px;
    color: #000000;
}

QGroupBox {
    border: 1px solid #0055AA;
    border-radius: 5px;
    margin-top: 10px;
}

QComboBox {
    background-color: #FFFFFF;
    border: 1px solid #0055AA;
    border-radius: 3px;
    padding: 5px;
    color: #000000;
}

QListWidget {
    border: 2px solid #4A90E2;
    color: black;
    font-size: 10px;
    border-radius: 10px;
    padding: 5px;
}

QListWidget::item {
    border: none;
    background-color: #EAF4FE;
    padding: 5px;
}

QListWidget::item:selected {
    background-color: #4A90E2;
    color: white;
}

QStatusBar {
    background-color: #0077CC;
    color: #000000;
    border-top: 1px solid #0055AA;
}

QDialog {
    background-color: white;
    border: 1px solid #4A90E2;
    padding: 5px 10px;
    border-radius: 5px;
}

QPushButton {
    background-color: #0077CC;
    color: white;
    border: 1px solid #0055AA;
    border-radius: 5px;
    padding: 5px 10px;
}

QPushButton:pressed {
    background-color: #063b8a;
    border: 1px solid #0545a5;
}

QDialogButtonBox {
    background-color: #F5F5F5;
}